/* Responsive CSS */
@media (max-width: 1024px) {
  .Nav-toggle-button,
  .nav-close-btn {
    display: block !important;
  }
  .Nav-btn {
    padding: 10px;
    background: linear-gradient(90deg, #6d6d6da1, #fff 60px);
    border: none;
  }
  /* Nav List */
  .nav-items {
    flex-direction: column;
  }
  .items-fl {
    width: 100%;
  }
  .nav-close-btn {
    text-align: right;
  }
  .Nav-bar,
  .Bg-Over-lay {
    position: fixed;
    top: 0;
    left: -100%;
    padding: 50px;
    z-index: 9;
    width: 50%;
    height: 100%;
    background: var(--body-color);
    transition: all ease 0.5s;
  }
  .Bg-Over-lay {
    width: 100%;
    background: #81818147;
    z-index: 1;
    transition: all ease 1s;
  }
  .Toggle-Open {
    left: 0;
  }
  .Phone-icon-fl,
  .menu-icon {
    display: none;
  }
}
/* 767px Responsive */
@media (max-width: 992px) {
  /* Default Padding CSS */
  .Banner-Section-top,
  .Trusted-Brands-Compnies,
  .Our-Story-Sec,
  .Full-Images-sec,
  .Advance-Section-sec,
  .AI-Robot-Impact-Sec,
  .Testimonial-section,
  .FAQ-Section,
  .Blogs-Article-Section,
  .NewsLetter-Section,
  .padding-tb {
    padding: 20px 0px;
  }
  .Banner-fl {
    flex-direction: column-reverse;
  }
  .Banner-fl > div {
    flex: 100%;
  }
  .Companies-fl > div {
    padding: 20px;
  }
  .Our-Story-Content > div,
  .Expertise-text-content {
    flex: 100%;
  }
  .Our-Story-boxes-fl,
  .Robotech-Impact-boxes-fl,
  .Testimoanial-wrapper-fl,
  .FAQ-fl,
  .Blogs-boxes-fl,
  .NewsLetter-fl,
  .Footer-Quick-Links-fl {
    gap: 30px;
    margin-top: 30px;
  }
  .Robotech-box-padding {
    padding: 30px !important;
  }
  .testimonial-Images-content-box,
  .testimonial-text-box {
    width: 100%;
  }
  .Expertise-text-content {
    margin-top: 30px;
  }
  .Our-Story-boxes-fl > div,
  .Advance-Ai-Boxes-fl > div,
  .testimonial-boxes-fl > div {
    flex: 45%;
  }
  .Impact-section-fl > div {
    flex: 0 50%;
  }
  .Expertise-Ex-Sec-fl > div,
  .Robotech-Impact-boxes-fl > div,
  .Blogs-boxes-fl > div,
  .FAQ-fl > div,
  .NewsLetter-fl > div,
  .Footer-Quick-Links-fl > div {
    flex: 100%;
  }
  .Bottom-image {
    width: 280px;
  }
  .footer-copyright-fl {
    justify-content: center;
  }
  br {
    display: none;
  }
}
/* 567px Responsive */
@media (max-width: 567px) {
  .Nav-bar,
  .Bg-Over-lay {
    width: 100%;
  }
  .Banner-Heading h1,
  .Heading-h2-styl h2 {
    font-size: 38px;
  }
  .Bottom-image {
    width: 180px;
  }
  .top-image {
    margin-left: 40px;
  }
  .Ai-Robotics-boxes-fl,
  .Companies-fl {
    gap: 30px;
  }
  .Ai-Robotics-boxes-fl > div,
  .Impact-section-fl > div {
    flex: 100%;
  }
  .Automation-solution {
    display: none;
  }
  .accordion-toggle {
    font-size: 14px;
  }
  .Email-Subsribe-fl {
    flex-direction: column;
  }
  .Companies-fl > div {
    flex: 0 44%;
  }
}
